*{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
em{
  font-style:normal;
}
a{
  text-decoration: none;
}
html{
  font-size: 12px;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
}
/*@media screen and (min-width:400px){
  html{
    font-size:15px;
  }
}*/
body{
  padding-top: 40px;
}
.clear:after{
  display: block;
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 540px;
  height: 40px;
  margin: 0 auto;
  background-color: #3A3A3A;
  z-index:888;

}
header .menu{
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 1rem;
  background-image: url(../image/Category.png);
  background-size:cover;
}
.search{
  position: absolute;
  width: 70%;
  height: 26px;
  background-color: #fff;
  top: 7px;
  left: 7px;
  right: 0;
  margin: 0 auto;
  border-radius: 10px;
}
.search em{
  width: 22px;
  height: 22px;
  float: left;
  background-image: url(../image/search1.png);
  background-size: cover;
  margin: 2px 4px 0 10px;
}
.search input{
  height: 22px;
  outline: none;
  border:none;
  float: left;
  margin-top: 2px;
}
header .message{
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 7px;
  right: 1rem;
  background-image: url(../image/message.png);
  background-size: cover;
}

#carousel{
  width: 100%;
  /*height: 113px;*/
  max-width: 540px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  /*background-color: yellowgreen;*/
}
#carousel ul li{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#carousel ul li img{
  width: 100%;
  /*height: 100%;*/
}

.circle{
  position: absolute;
  bottom:0;
  right: 0;
  left: 0;
  margin:0 auto;
  width: 45%;
  height: 10%;
  /*background-color: red;*/
  padding-bottom: 10px;
  text-align: center;
}
.circle span{
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: #eee;
}
.circle .current{
  background-color: #3A3A3A;
}

footer{
  width: 100%;
  height: 45px;
  background-color: #FFF;
  position: fixed;
  left: 0;
  bottom: 0;
}
.footer{
  width: 100%;
  height: 100%;
}
.footer li{
  width: 20%;
  height: 100%;
  background-color: #eee;
  float: left;
  text-align: center;
}
.footer li a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer li p{
  color:#B0B0B0;
}
.footer li:nth-child(1) span:nth-child(1){
  display: inline-block;
  width: 30px;
  height: 26px;
  background-image: url(../image/home1.png);
  background-size: cover;
}
.footer li:nth-child(2) span:nth-child(1){
  display: inline-block;
  width: 30px;
  height: 26px;
  background-image: url(../image/menu1.png);
  background-size: cover;
}
.footer li:nth-child(3) span:nth-child(1){
  display: inline-block;
  width: 30px;
  height: 26px;
  background-image: url(../image/shop1.png);
  background-size: cover;
}
.footer li:nth-child(4) span:nth-child(1){
  display: inline-block;
  width: 30px;
  height: 26px;
  background-image: url(../image/person1.png);
  background-size: cover;
}
.footer li:nth-child(5) span:nth-child(1){
  display: inline-block;
  width: 30px;
  height: 26px;
  background-image: url(../image/more1.png);
  background-size: cover;
}
.menu{
  max-width: 540px;
  margin: 0 auto;
}
.menu table{
  width: 100%;
  height: 130px;
  /*background-color: red;*/
  margin-bottom: 15px;
  padding-top: 5px;
}
.menu table tr{
  width: 100%;
  height: 50%;
  margin-top: 5px;
}
.menu table td{
  width: 25%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.menu table td a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.menu table td img{
  width: 46%;
  height: 41%;
}
.menu table td p{
  color:#333;
}


.sectionImage1, .sectionImage2{
  width: 100%;
  max-width: 540px;
  margin: 10px auto 0;
}
.sectionImage1 img:nth-child(1),
.sectionImage2 img:nth-child(1){
  width: 100%;
}


.hot-class{
  width: 100%;
  max-width: 540px;
  height: 270px;
  margin: 0 auto 40px;
}
.hot-class h5{
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  max-width: 540px;
  color: #444;
}
.hot-class table{
  width: 100%;
  height: 100%;
  border:1px solid #eee;
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 0;
}
.hot-class table tr{
  width: 100%;
  height: 33.33%;
  margin-top:none;
}
.hot-class table tr td a{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.hot-class img{
  width: 88.45px;
  height: 86.84px;

}

.section-carousel{
  width: 100%;
  max-width: 540px;
  height: 113px;
  margin: 0 auto;
  background-image:url(../image/carousel1.jpg);
  background-size: 100% 100%;
  transition: all 0.5s ease 0s;
}

.hot-brand{
  width: 100%;
  height: 215px;
  margin:0 auto;
  max-width: 540px;
  margin-bottom: 15px;
}
.hot-brand h5{
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background: #f0f0f0;
  text-align: center;
  font-size: 1.5rem;
  color: #444;
}
.hot-brand ul{
  width: 100%;
  box-sizing: border-box;
}
.hot-brand ul li{
  float: left;
  background-color: #e0e0e0;
  width: 7.41rem;
  height: 7.41rem;
  overflow: hidden;
  padding: 1px 1px 0 0;
}
.hot-brand ul li.hot-brand-last{
    width: 14.82rem;
}
.hot-brand ul li a{
  display: block;
  height: 100%;
}
.hot-brand img{
  width: 100%;
  height: 100%;
}

.sectionImage3{
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}
.sectionImage3 img{
  width: 100%;
  height: 9.375rem;
}

.hot-recommend{
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}
.hot-recommend h5{
  position: relative;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  color: #444;
}
.recommend1{
  width: 100%;
  height: 9.375rem;
}

.best-week{
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}
.best-week h5{
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  color: #444;
}
.best-week-table{
  width: 100%;
  box-sizing: border-box;
  border:1px solid #eee;
  border-collapse: collapse;
  font-size: 0;
}
.best-week-table tr{
  width: 100%;
}
.best-week-table tr td{
  width: 50%;
}
.best-week-table tr td img{
  width: 100%;
  height: 57%;
}

.hot-last{
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}
.hot-last h5{
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  color: #444;
}
.hot-last-table{
  width: 100%;
  box-sizing: border-box;
  border:1px solid #eee;
  border-collapse: collapse;
  font-size: 0;
}
.hot-last-table tr{
  width: 100%;
}
.hot-last-table tr td{
  width: 50%;
}
.hot-last-table tr td img{
  width: 100%;
  height: 57%;
}


.index-last-ajax{
  width: 100%;
  margin: 0 auto;
  background: #fff;
  max-width: 540px;
}
.title{
  position: relative;
  width: 100%;
  height: 4.875rem;
  line-height: 4.875rem;
  text-align: center;
  font-size: 1.7rem;
  color:#999;
  background-color: #fff;
}
.title img{
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1.5rem;
  left: 30%;
  transform: translateX(-30%) rotateZ(180deg);
}

.foot{
  width: 100%;
  margin-bottom: 45px;
  display: block;
}
.foot p{
  background-color: #fff;
  padding: 0.1rem 1.375rem;
  height: 5.625rem;
  line-height: 5.625rem;
}
.foot p, .foot p a{
  font-size: 1.1rem;
  color:#000;
}
.copyright{
  font-style: normal;
  height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  color: #666;
  text-align: center;
  line-height: 60px;
  font-size: 1rem;
}
.foot img{
  float: right;
  margin-top: 1rem;
}
