*{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
em{
  font-style:normal;
}
a{
  text-decoration: none;
}
html{
  font-size: 12px;
}
html,body{
  background-color: #444;
}
body{
  padding-top: 0;
}

.main-wrap{
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}
.reg-page{
  text-align: center;
  padding: 0 6% 0 6%;
  box-sizing: border-box;
}

.reg-page .header{
  position: relative;
  height: 40px;
  margin: 20px 0 30px;
}
.go-back{
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 5px;
  left: 0;
  background: url(../image/goback.png) no-repeat;
  background-size: 100% 100%;
}
.reg-title{
  font-size: 1.8rem;
  line-height: 40px;
  color: #fff;
}

.content{
  width: 100%;
}

.reg-page .row {
  margin-bottom: 10px;
}
.select-container{
  position: relative;
  width: 100%;
  height: 52px;
  font-size: 20px;
  background-color: #575757;
  border: 1px solid #606060;
  border-radius: 5px;
  text-align: left;
}
.select-title{
  line-height: 2.5;
  margin-left: 15px;
  color:#fff;
}
.country-select{
  position: absolute;
  height: 50px;
  padding-right: 40px;
  right: 0;
  color: #fff;
  background-color: #575757;
  border: 0;
  border-radius: 5px;
  -webkit-appearance:none;
  direction: rtl;
  font-size: 1.5rem;
}
.arrow-right{
  position: absolute;
  width: 13px;
  height: 20px;
  right: 15px;
  top: 16px;
  background: url(../image/arrow-right.png) no-repeat;
  background-size: 100% 100%;
}
.input-container{
  position: relative;
  width: 100%;
  height: 52px;
  font-size: 20px;
  background-color: #575757;
  border: 1px solid #606060;
  border-radius: 5px;
  text-align: left;
}
.phone-container{
  margin-bottom: 10px;
}
.area-code{
  position: absolute;
  left: 15px;
  line-height: 2.5;
  color:#fff;
}
.input{
  width: 87%;
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
  line-height: 26px;
  padding: 12px 0;
  padding-left: 15px;
  margin-left: 45px;
  background-color: transparent;
  font-size: 100%;
}
.name{
    margin-left: 65px;
}

.img-check{
  width: 100%;
  margin-top: 2.063rem;
  margin-bottom: 1.375rem;
}
.img-check-header{
    font-size: 1.1rem;
    line-height: .875rem;
    text-align: center;
    margin-bottom: .75rem;
    color: #b0b0b0;
}
.img-check-main{
  width: 100%;
  height: 6rem;
  background-color: #fff;
  box-sizing: border-box;
}
.img-check-main img{
  float: left;
  width: 6rem;
  height: 6rem;
  margin:0 3.5px;
}
.register-a{
  width: 100%;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  height: 4.17rem;
  line-height: 4.17rem;
  background-color: #a2a2a2;
  margin-bottom: 15px;
}
.register-tip{
  color: #fff;
  font-size: 1.1rem;
}

.sendmessage{
  display: none;
  width: 50%;
  height: 8rem;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color:#fff;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 8rem;
}
